.slider-number {
  width: 30px;
}

.slider-container {
  display: flex;
  flex-direction: row;
}

.save-prompt-container {
  z-index: 1003;
  position: absolute;
  background-color: #1e1e1e;
  top:20%;
  left:50%;
  transform: translateX(-50%);
  width: 500px;
  height: 150px;
  padding:0px;
  border: 0px;
  border-radius: 10px;
  color:#ffffff;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.save-prompt {
  justify-self: center;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.save-prompt-buttons {
  align-self: flex-end;
  justify-self: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
}

.save-prompt-button {
  user-select: none;
  text-align: center;
  width: 80px;
  border: 1px solid #ccc;
  background-color: #333;
  padding: 10px;
}

.save-prompt-button:hover {
  background-color: #5b5b5c;
}

.save-prompt-background {
  z-index: 1002;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.annot-modal {
  z-index: 1000;
  position: absolute;
  top:20%;
  left:50%;
  padding:0px;
  width: 700px;
  border: 0px;
  border-radius: 10px;
}

.modal-title-container {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding:10px;
  background-color: #5b5b5c;
}

.modal-title {
  text-align: left;
  color:#ffffff;
  font-size: 18px;
  font-weight: bold;
}

.annot-arguments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  color: #d4d4d4;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.annot-argument-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cutoffInput,
#msscInput {
  width: 100px;
  box-sizing: border-box;
}

.annot-recommend-button {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  background-color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.annot-recommend-button-grey {
  user-select: none;
  text-align: center;
  padding: 5px;
  background-color: #333333;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.annot-recommend-button:hover {
  background-color: #5b5b5c;
}

.recommend-table {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.annot-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
  gap: 10px;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 15px;
  overflow-wrap: anywhere;
  scrollbar-color: #5b5b5c #333333;
  scrollbar-gutter: auto;
}

.annot-grid-header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
  max-width: 100%;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  position: sticky;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.annot-grid-header {
  display: flex;
  position: sticky;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 5px;
}

.annot-grid-row {
  display: contents;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.annot-grid-item {
  text-align: left;
  padding: 5px;
  max-width: 100%;
}

.sortable-header {
  cursor: pointer;
}

.low-match {
  color: #ff6666;
}

.select-annotator-container {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.select-annotator {
  cursor: pointer;
  margin:0;
  padding: 0;
  min-width: 150px;
  background-color: #5b5b5c;
  color: #ffffff;
  border-radius: 3px;
}

.select-options {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.annot-recommend-button-container {
  display:flex;
  flex-direction: row;
  width: 100%;
  flex-basis: auto;
  justify-content: space-evenly;
}

.annot-recommend-button-table {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  background-color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
}