button {
    background-color: #1c1c1c;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #1c1c1c;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: normal !important;
    line-height: 1.2;
    margin: 0 3px 0 0;
    padding: 2px 7px;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: nowrap;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: #464646;
}