#dropdown {
    position: absolute;
    z-index: 5000;
    list-style-type: none;
    top: 42px;
    /* right: 360px; */
    padding: 0;
    margin: 0;
    display: none;
    height: 50vh;
    width: 36vw;
    overflow-y: auto;
}

#dropdown a {
    border: 1.5px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #000000;
    padding: 7.5px 7.5px 0 7.5px;
    font-size: 18px;
    display: block;
    overflow: hidden;
}

#dropdown a:hover {
    filter: hue-rotate(10deg) brightness(120%) invert(10%);
    cursor: pointer;
}

#biomodel-browse {
  position: relative;
  background-color: #1c1c1c;
  border: 1.5px solid #ddd;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  padding: 4px;
  width: 34vw;
  margin-right: 3px;
}

#biomodel-browse::placeholder {
  color: #B7B7B7;
}

#biomodel-browse:hover {
  background-color: #464646;
}

#biomodel-browse:focus {
  outline: none;
}

.code-editor {
  height: 90%;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #1c1c1c;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
  background-color: #464646;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use React state to conditionally apply this class) */
.dropdown-content.show {
  display: block;
}

.download-button {
  background-color: #1c1c1c;
  border-radius: 2px;
  border-style: solid;
  border-width: 5px;
  border-color: #5090da;
  display: inline-block;
  font-size: 1em;
  font-weight: normal !important;
  line-height: 1.2;
  margin: 0 3px 0 0;
  padding: 2px 7px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-overflow: ellipsis;
  text-shadow: none;
  white-space: nowrap;
  color: white;
  padding: 16px 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.download-button:hover {
  color: white;
  background-color: #464646;
}

.convert-button {
  background-color: #1c1c1c;
  border-radius: 2px;
  border-style: solid;
  border-width: 5px;
  border-color: #5090da;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: normal !important;
  line-height: 1.2;
  margin: 0 3px 0 0;
  padding: 2px 7px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-overflow: ellipsis;
  text-shadow: none;
  white-space: nowrap;
  color: white;
  padding: 16px 8px;
  font-size: 16px;
  border: none;
}

.convert-button:hover {
  color: white;
  background-color: #464646;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  flex-wrap: wrap;
  min-height: 10%;
}

#file-upload {
  display: none;
}

.file-upload-label {
  background-color: #1c1c1c;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #1c1c1c;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: normal !important;
  line-height: 1.2;
  margin: 0 0 0 3px;
  padding: 16px 8px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-overflow: ellipsis;
  text-shadow: none;
  white-space: nowrap;
  justify-content: flex-start;
}

.file-upload-label:hover {
  background-color: #464646;
}

.menu-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}