#biomddropdown {
  position: absolute;
  z-index: 2;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  height: 50vh;
  width: 36vw;
  overflow-y: auto;
}

#biomddropdown a {
  border: 1.5px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #000000;
  padding: 7.5px 7.5px 0 7.5px;
  font-size: 18px;
  display: block;
  overflow: hidden;
}

#biomddropdown a:hover {
  filter: hue-rotate(10deg) brightness(120%) invert(10%);
  cursor: pointer;
}

#biomodel-browse {
  position: relative;
  background-color: #1c1c1c;
  border: 1.5px solid #ddd;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 8px;
  width: 34vw;
  margin: 0;
}

#biomodel-browse::placeholder {
  color: #b7b7b7;
}

#biomodel-browse:hover {
  background-color: #464646;
}

#biomodel-browse:focus {
  outline: none;
}

.code-editor {
  height: 92%;
  cursor: text, auto !important;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 8%;
}
