.context-menu {
  position: fixed;
  z-index: 10000;
}

.context-menu ul {
  list-style-type: none;
  background-color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
}

.context-menu ul li {
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  width: 100px;
}

.context-menu ul li:hover {
  background-color: #007acc;
  color: white;
}
