#biomddropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  height: 50vh;
  width: 100%;
  overflow-y: auto;
}

#biomddropdown a {
  border: 1.5px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #000000;
  padding: 7.5px 7.5px 0 7.5px;
  font-size: 18px;
  display: block;
  overflow: hidden;
}

#biomddropdown a:hover {
  filter: hue-rotate(10deg) brightness(120%) invert(10%);
  cursor: pointer;
}

#search-mode {
  background-color: #1c1c1c;
  border: 1.5px solid #ddd;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 8px;
}

#search-mode:focus {
  outline: none;
}

#biomodel-browse {
  background-color: #1c1c1c;
  border: 1.5px solid #ddd;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 8px;
  width: 34vw;
}

#biomodel-browse::placeholder {
  color: #b7b7b7;
}

#biomodel-browse:hover {
  background-color: #464646;
}

#biomodel-browse:focus {
  outline: none;
}

.code-editor {
  height: 92%;
  cursor: text, auto !important;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 8%;
}

.search-input-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-wrapper {
  position: relative;
}

.model-box {
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #2a2a2a;
  color: #ddd;
}

.title {
  background-color: #3a3a3a;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
}

.info {
  font-size: 14px;
  color: #bbb;
}

.model-box:hover {
  background-color: #3c3c3c;
}

.model-box:hover .title {
  background-color: #444;
}

.model-box .info div {
  color: #FD7F20;
}