.context-menu {
  position: fixed;
  background-color: black; 
  border: 1px solid #ccc;
  z-index: 1000;
  color: white; 
}

.context-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.context-menu ul li {
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  font-size: 16px; 
  width: auto; 
  display: flex; 
  align-items: center;
  justify-content: space-between; 
}

.context-menu ul li::after {
  margin-left: 10px; 
}

.context-menu ul li:hover {
  background-color: blue;
  color: white;
}
