.context-menu {
  position: fixed;
  background-color: black; 
  border: 1px solid #ccc;
  z-index: 1000;
  color: white; 
}

.context-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.context-menu ul li {
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}

.context-menu ul li:hover {
  background-color: blue;
  color: white 
}
