.file-explorer {
  height: 92%;
  overflow: auto;
}

.file-explorer-list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 0;
  padding: 0px 10px;
}

.file-explorer-list > li {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.file-btn:hover,
.file-btn.selected {
  color: white;
  background-color: #464646;
}

.file-btn {
  background-color: #1c1c1c;
  border-radius: 2px;
  display: inline-block;
  font-weight: normal !important;
  line-height: 1.2;
  overflow: hidden;
  padding: 5px;
  position: relative;
  text-align: left;
  text-decoration: none !important;
  text-overflow: ellipsis;
  text-shadow: none;
  width: 100%;
  white-space: nowrap;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.rename-input {
  background-color: #1c1c1c;
  border: 1.5px solid #ddd;
  border-radius: 2px;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  line-height: 1.2;
  outline: none;
  padding: 5px;
}

.rename-input[aria-invalid="true"] {
  border: 1.5px solid #e30b0b;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rename-error-container {
  position: relative;
  width: 100%;
}

.rename-error {
  position: absolute;
  background-color: #950c0c;
  border: 1.5px solid #e30b0b;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-sizing: border-box;
  color: white;
  font-size: 0.75rem;
  padding: 4px;
  width: 100%;
  z-index: 2;
}