.file-explorer {
  height: 90%; /* Set the desired height */
  overflow: auto; /* or overflow: scroll; */
}

.file-explorer ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.button:hover,
.button.selected {
  color: white;
  background-color: #464646;
}