header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  border-bottom: 3px solid #474757;
  background-color: #1c1c1c;
  padding: 0px 15px;
  width: 100%;
}

.header-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-menu-item {
  color: #d4d4d4;
  margin: 1px;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
}

.header-menu-selected,
.header-menu-item:hover {
  background-color: #464646;
  border-radius: 5px;
}

.header-menu-dropdown {
  background-color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: default;
  list-style: none;
  position: absolute;
  padding: 5px;
  margin: 5px 0px 0px -10px; /* Align dropdown with menu button */
  z-index: 10000;
}

.header-menu-dropdown li {
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
  position: relative;
}

.header-menu-dropdown li:hover {
  background-color: #007acc;
}

.header-menu-dropdown li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 15px;
}

.header-menu-command {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 5px 15px;
  cursor: pointer;
}

.sub-menu-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #333;
  z-index: 1000;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sub-menu-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.sub-menu-dropdown li:hover {
  background-color: #007acc;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.menu-text {
  display: inline-block; /* Ensures elements stay inline */
  margin-right: 5px; /* Adjust margin as needed */
}

.arrow-icon {
  margin-left: 5px; /* Adjust margin as needed */
  color: #888; /* Example color */
}

.color-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-square {
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  margin-left: 10px;
  border-radius: 2px;
}

#file-upload {
  display: none;
}

.modal-background {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensures modal appears above other content */
}

.about-modal {
  background-color: #333;
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid #ccc; 
  max-width: 400px;
  width: 80%;
  text-align: center;
  color: white;
  z-index: 1001;
}

