#dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    width: 100%;
}

#dropdown li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#biomodel-browse {
    position: relative;
    right: 1.4px;
}