.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  gap: 0px;
  width: 100%;
  height: 100vh;
}

.middle {
  box-sizing: border-box;
  outline: none;
  min-height: 0;
  background-color: #1c1c1c;
  color: white;
  height: 100%;
  width: 100%;
}

.fileExplorerTitle {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 7px 0;
  margin-left: 15px;
}

.sidebar {
  grid-area: sidebar;
  height: 100%;
}

.editor {
  grid-area: main;
  height: 100%;
  overflow: clip;
}

footer {
  grid-area: footer;
  padding: 15px;
  border-top: 3px solid #474757;
  background-color: #1c1c1c;
  color: white;
  /* width: 100%; */
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

footer a {
  color: white;
}

.fileExplorerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 8%;
}

.recommendationTable {
  max-height: 100%;
  display:flex;
  max-width: 100%;
}
